@import "./css/variables.scss";

.App.preload * {
    animation-duration: 0s !important;
    -webkit-animation-duration: 0s !important;
    transition: background-color 0s, opacity 0s, color 0s, width 0s, height 0s, padding 0s, margin 0s !important;
}

p,
a,
input,
textarea,
button {
    font-size: 15px;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 20px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
a {
    margin: 0;
    color: $textColor;
    font-weight: normal;
}

.App {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    padding: 0 75px;
    height: 100vh;
}