nav {
    display: flex;
    flex-direction: column;
    height: 800px;
    width: 350px;
    background: var(--navColor);
    border-radius: 10px;
}

nav .Header {
    text-align: center;
    line-height: 100%;
    margin: 100px 0;
}

nav .Links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
}

nav .Link {
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 10px;
    margin: 10px 0;
    transition: all 0.2s;
}

nav .Link:hover{
    cursor: pointer;
    background: var(--linkHoverColor);
}